body {
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-family: "Jost", sans-serif;
  font-size: 20px;
  line-height: 30px;
  text-align: left;
  display: flex;
  align-items: top;
  justify-content: center;
}

.text {
  font-family: "Jost";
  font-size: 30px;
  line-height: 10px;
  text-align: left;
  width: 1105px;
  height: 63px;
}

.text h4 {
  font-family: "Jost";
  font-size: 20px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0px;
  text-align: left;
  width: 1105px;
  height: 38px;
  top: 79px;
}
.image2 {
  margin-top: 50px;
}

h4 {
  color: #557087;
}

.box {
  display: flex;
  flex-direction: column;
  font-family: "Jost", sans-serif;
  font-size: 20px;
  line-height: 30px;
  text-align: left;
  width: 345px;
  height: 201px;
  top: 619px;
  left: 167px;
}

.box h5 {
  font-family: "Jost";
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 1px;
  text-align: left;
}

.box p {
  color: #557087;
  font-family: "Jost";
  font-size: 20px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0px;
  text-align: left;
}

button {
  font-size: 14px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 1px;
  text-align: center;
  font-style: normal;
  font-family: "Jost";
  width: 142px;
  height: 48px;
  border: 1px solid #e0e8f0;
  border-radius: 2px;
  background-color: #ffffff;
  color: #557087;
}

.box-container {
  display: flex;
  width: 1105px;
  justify-content: space-between;
}
