body {
  font-family: "Jost", sans-serif;
  font: weight 700px;
  font-style: normal;
  text-align: center;
}

.text h1 {
  font-family: "Jost";
  font-size: 60px;
  font-weight: 700;
  line-height: 63px;
  letter-spacing: -0.5px;
  text-align: center;
}

.text h4 {
  font-family: "Jost";
  font-size: 25px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0px;
  text-align: center;
  color: #557087;
}

button {
  background-color: #0045ff;
  color: #ffffff;
  width: 169px;
  height: 56px;
  top: 293px;
  left: 636px;
  font-family: "Jost";
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 1px;
  text-align: center;
  border-radius: 5%;
  margin-top: 5%;
  border-style: none;
}

img {
  width: 1116px;
  height: 600px;
  top: 469px;
  left: 262px;
  margin-top: 5%;
}
